.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: white;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;

  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header-logo {
      font-size: 1.5rem;
      font-weight: bold;
    }

    .header-search-container {
      display: flex;
      align-items: center;
      margin-left: auto;
      align-content: stretch;
      justify-content: flex-end;

      .header-search-input {
        padding: 5px 10px;
        font-size: 1rem;
        border: none;
        border-radius: 3px 0 0 3px;
        outline: none;

        &:focus {
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
        }
      }

      .header-search-button {
        padding: 5px 10px;
        font-size: 1rem;
        border: none;
        background-color: #555;
        color: white;
        border-radius: 0 3px 3px 0;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
          background-color: #777;
        }
      }
    }
  }
}
