.pokemon-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  gap: 20px;
}

.pokemon-card {
  background: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition:
    transform 0.3s,
    box-shadow 0.3s;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }

  .pokemon-link {
    display: block;
    text-decoration: none;
    color: inherit;
    text-align: center;
    padding: 10px;

    .pokemon-name {
      font-size: 1.2em;
      margin: 10px 0;
    }

    .pokemon-image {
      width: 100px;
      height: 100px;
      object-fit: contain;
      margin: 0 auto;
    }
  }
}
